<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <h2 class="ml-3 mt-3">Trello Clone</h2>
  <ul class="navbar-nav ml-5 mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <div class="project_form mt-3">
        <%= link_to 'Create a new project', new_project_path, class: 'navbar-link', remote: true  %>
      </div>
    </li>
  </ul>
  <div class="d-flex justify-content-between mt-3">
    Logged as <%= current_user.first_name %> <%= current_user.last_name %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'ml-5 mr-3 navbar-link' %>
  </div>
</nav>
