<% comments.each do |comment| %>
  <div class="card mt-2">
    <div class="card-body">
      <p class="mt-3"><%= comment.description %></p>
      <!-- <p class="card-text"><small class="text-muted">By <%= comment.user.first_name %></small></p> -->
      <div class="d-flex justify-content-between">
        <!-- // upload file line -->
        <%= link_to 'Delete', task_comment_path(task, comment), method: :delete, class: 'comment-links'%>
      </div>
      <div class="comment-form"></div>
    </div>
  </div>
<% end %>
