<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-sm-3">
    <% @projects.each do |project| %>
      <%= render 'components/card_project', project: project %>
    <% end %>
    </div>
  </div>
</div>

<div class="project-form"></div>

<%= link_to 'Add project', new_project_path, remote: true  %>
