.card-task {
  color: black;
  background-color: white;
}

.card-project {
  color: white;
  background-color: $green;
}

a {
  text-decoration: none !important;
}

.project-links {
  color: white;
  &:hover {
    opacity: 0.7;
    color: white;
  }
}

.task-links {
  color: $blue;
  &:hover {
    opacity: 0.7;
    color: $blue;
  }
}

.comment-links {
  color: $blue;
  &:hover {
    opacity: 0.7;
    color: $blue;
  }
}

h2 {
  color: $green;
}
